* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background-color: #e5e5e5;
}

/* Tela 1 - INICIO */
header {
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seus-quizzes {
  height: 181px;
  width: 1051px;

  margin-top: 4%;
  border: 1px dashed #919191;
  box-sizing: border-box;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #919191;
  text-align: center;
}

.criar-quizz {
  width: 151px;
  height: 40px;

  border: 1px dashed #ec362d;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #e5e5e5;

  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #ec362d;
}

.todos-quizzes {
  width: 1066px;

  margin-top: 5%;

  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.titulo {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  margin-left: 15px;
}

.opcoes-quizzes {
  margin-top: 12px;
}

.quizz {
  width: 340px;
  height: 181px;
  position: relative;

  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 12px;

  background-size: 340px 181px;
}

.img-tela2 {
  height: 227px;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
}

.nome-quizz {
  width: 301px;
  height: 54px;

  position: absolute;
  bottom: 5px;
  left: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
}
/* Tela 1 - FIM */
.display-none {
  display: none;
}
/* Tela 2 - INICIO */
.tela2 {
  top: 69px;
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  height: auto;
  z-index: 1;
}
.caixa-perguntas {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pergunta {
  width: 759px;
  height: 676px;
  margin-top: 42px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todasRespostas {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 35px;
  justify-content: space-between;
}
.caixote {
  display: flex;
  flex-wrap: wrap;
}
.titulo-pergunta {
  width: 688.16px;
  height: 137.99px;

  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}
.img-pergunta {
  width: 329.91px;
  height: 175.2px;
}

.opcoes-resposta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.opcao-resposta {
  width: 329.91px;
  height: 217.06px;

  display: flex;
  flex-wrap: wrap;
}
.opcao-pergunta {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
.resultado {
  width: 759px;
  height: 430px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.footer-tela2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 44px 0px 65px 0px;
}
.reiniciar {
  width: 260.38px;
  height: 52px;

  background: #ec362d;
  border-radius: 15px;

  margin-top: 56px;

  text-align: center;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  border: none;
}
.voltar-home {
  width: 220px;
  height: 44px;

  margin-top: 16px;

  text-align: center;
  color: #818181;
  font-size: 21px;
  border: none;
  background-color: #e5e5e5;
}
/* Tela 2 - FIM */
/* Tela 3 - INICIO */
.tela3 {
  top: 69px;
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  height: auto;
  z-index: 2;
}
.container-tela3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 71px;
}
.titulo-tela3 {
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;

  display: flex;
  align-items: center;

  color: #000000;
}
.caixa-formulario {
  width: 600px;
  height: 256px;
  background-color: #ffffff;

  margin-top: 27px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resposta-formulario {
  width: 564px;
  height: 46px;

  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 5px;

  margin-bottom: 9px;

  font-style: italic;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;

  color: #bababa;
}
.prosseguir-perguntas {
  width: 368.86px;
  height: 54px;

  background: #ec362d;
  border-radius: 15px;

  margin-top: 85px;

  text-align: center;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  border: none;
}
/* tela 31 */
.tela31 {
  top: 69px;
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  height: auto;
  z-index: 3;
}
.container-tela31 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 71px;
}
.caixa-formulario-tela31 {
  width: 600px;
  height: 825px;
  background-color: #ffffff;

  margin-top: 36px;
  padding: 27px 17px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.subtitulo-tela31 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
}
/* tela 32 */
.tela32 {
  top: 69px;
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  height: auto;
  z-index: 4;
}
.container-tela32 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 63px;
}
.caixa-formulario32 {
  width: 600px;
  height: 316px;
  background-color: #ffffff;

  margin-top: 36px;
  padding: 27px 17px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.resposta-formulario-grande {
  width: 564px;
  height: 46px;

  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 5px;

  margin-bottom: 9px;

  font-style: italic;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;

  color: #bababa;
}
/* tela 33 */
.tela33 {
  top: 69px;
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  height: auto;
  z-index: 4;
}
.container-tela33 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 71px;
}
.img-quizz-pronto {
  width: 500px;
  height: 266px;
  background-color: white;

  margin-top: 46px;

  border-radius: 5px;
}

/* Tela 3 - FIM */

/* MOBILE */
@media (max-width: 1100px) {
  /* Tela 1 - INICIO mobile*/
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seus-quizzes {
    height: 181px;
    width: 340px;
  }
  .todos-quizzes {
    width: 340px;
  }
  .quizz {
    margin-left: 0px;
  }
  .titulo {
    margin-left: 0px;
  }
  /* Tela 1 - FIM mobile*/

  .img-tela2 {
    height: 114px;
    font-size: 19px;
    line-height: 22px;
  }
  .pergunta {
    width: 375px;
    height: 436px;
  }
  .opcao-resposta {
    width: 163px;
    height: 140px;
  }
  .img-pergunta {
    width: 163px;
    height: 113px;
  }
  .todasRespostas {
    padding: 13px 18px;
  }
  .titulo-pergunta {
    width: 340px;
    height: 89px;

    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .opcao-pergunta {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
  }
  /* TELA 3 - INICIO mobile */
  .container-tela3 {
    margin-top: 37px;
  }
  .titulo-tela3 {
    font-size: 20px;
    line-height: 23px;
  }
  .caixa-formulario {
    width: 375px;
    height: 256px;
  }
  .resposta-formulario {
    width: 341px;
    height: 46px;
  }
  .prosseguir-perguntas {
    width: 324px;
    height: 54px;

    margin-top: 29px;

    font-size: 18px;
    line-height: 21px;
    font-weight: normal;

    margin-bottom: 61px;
  }
  /* tela 3.1 */
  .container-tela31 {
    margin-top: 38px;
  }
  .caixa-formulario-tela31 {
    width: 375px;
    height: 825px;

    margin-top: 27px;
  }
  /* tela 3.2 */
  .container-tela32 {
    margin-top: 39px;
  }
  .caixa-formulario32 {
    width: 375px;
    height: 439px;

    margin-top: 28px;
  }
  .resposta-formulario-grande {
    width: 341px;
    height: 177px;
  }
  /* tela 33 */
  .container-tela33 {
    margin-top: 39px;
  }
  .img-quizz-pronto {
    width: 340px;
    height: 181px;
  }
}

/* Estilização das respostas */
.resposta-correta {
  color: #009c22;
}
.resposta-errada {
  color: #ff4b4b;
}
.opcao-resposta > div {
  position: relative;
}
.esbranquicado {
  background-color: #ffffffad;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Tela de resultado do Quizz */
.resultado-quizz {
  display: flex;
  flex-direction: column;
  width: 722px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000000d;
  padding: 18px;
  margin-bottom: 50px;
}
.resultado-quizz header {
  width: 100%;
  height: 99px;
  background-color: #ec362d;
  color: #ffffff;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  margin-bottom: 18px;
}
.resultado-quizz > main {
  display: flex;
}
.resultado-quizz img {
  width: 364px;
  height: 273px;
  margin-right: 21px;
}
.resultado-quizz > main > p {
  color: #484848;
  font-weight: 700;
  font-size: 19px;
}

/* Botoes reiniciar Quizz e Voltar pra home */
footer {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
#reiniciar-quizz {
  width: 260px;
  height: 52px;
  background-color: #ec362d;
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  border: none;
}
#voltar-pra-home {
  width: 220px;
  height: 44px;
  text-align: center;
  color: #818181;
  font-size: 21px;
  border: none;
}
